.homePageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-color);
  min-height: 100dvh;
  padding: var(--space-md);
}

.inputsArea {
  margin-top: var(--space-sm);
  display: flex;
  gap: 0.1rem;
}

.inputsArea > input {
  padding: var(--space-sm);
  border-radius: var(--br-sm);
  border: none;
}

.inputsArea > select {
  border-radius: var(--br-sm);
  border: none;
}

.countriesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-md);
  list-style: none;
  padding: 0;
  margin-top: var(--space-md);
}

@media (min-width: 768px) {
  .searchInput {
    width: 300px;
    height: 55px;
  }

  .regionSelect {
    width: 150px;
  }
}
