.countryPage {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  gap: var(--space-sm);
  margin: var(--space-md) auto;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--fs-md);
  background-color: var(--bg-color);
  color: var(--card-bg);
}

.countryPage > img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.DetailsList > a {
  color: var(--accent);
  margin-right: var(--space-xs);
}

.countryPage > button {
  align-self: start;
  margin: var(--space-md) 0;
  background-color: var(--accent);
  color: var(--text-main);
  border-radius: var(--br-sm);
  padding: var(--space-sm);
}
