.navbar {
  --nav-bg: #ffffff;
  display: flex;
  --muted: #64748b;
  gap: var(--space-md);
  padding: 0 var(--space-md);
  height: 64px;
  background-color: var(--nav-bg);
}

.navbar > a {
  color: var(--muted);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar > a:global(.active) {
  color: var(--accent);
}

.navbar > a:global(.active)::after {
  content: '';
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0;
  background-color: var(--accent);
  position: absolute;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
}
